Manifest.toml
derivations_files
.DS_Store
**/.jupyter_cache/
/klsolve_files

KLLS.code-workspace
klsolve.html

/.quarto/
.cursor/**
anim_fps1.gif
rename_package.sh
Package Renaming to Perspectron.md
KLLS_References.md
Perspectron.code-workspace
